.home {
  width: 200px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  position: relative;
}
.home:hover {
  background-color: #00d2d3;
}
.text {
  width: auto;
  height: 50px;
  background-color: #8e44ad;
  display: flex;

  text-align: center;
  display: flex;
}
.home1 {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
}
.home1:hover {
  font-size: 20px;
}
