@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #8e54e9;
  font-family: Montserrat;
}
.container {
  width: 25%;
  height: 750px;
  border: 5px solid rgb(2, 2, 12);
  padding: 10px 20px;
  margin: auto;
  background-color: #00cec9;
  margin-top: 50px;
  justify-content: flex-start;
}
body img {
  padding: 5px 10px 25px 0px;
  
}
.image-cover {
  width: 100%;
}

.title {
  margin: 20px 0px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.row {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.discription {
  font-size: 18px;
  color: black;
}
